@import url("https://fonts.googleapis.com/css?family=Nunito:700&display=swap");

* {
  box-sizing: border-box;
  color: #333;
  font-family: "Nunito", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-flights {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0.5rem;
}

.flights {
  text-align: center;
  margin: 0.4rem;
  border-bottom: 3px solid #ff5a5f;
}

.flight-number {
  font-size: 1.5rem;
}

.flight-info {
  font-size: 0.8rem;
}

.card {
  display: flex;
  margin: 0.5rem 0.5rem;
  border-radius: 10px;
  border: 3px solid #ff5a5f;
  background: none;
  outline: none;
}

.card:hover {
  cursor: pointer;
}

.all {
  display: flex;
  align-items: flex-start;
  padding: 0;
  margin: 0.5rem;
}

a {
  text-decoration: none;
  outline: none;
  width: 100%;
}

.city {
  font-size: 2rem;
}

.ward {
  font-size: 1.5rem;
}

.dates {
  font-size: 1rem;
}

.fas {
  font-size: 1rem;
  float: right;
  margin: 3.5rem 0.5rem 0 0;
  color: rgb(196, 196, 196);
}

@media only screen and (min-width: 768px) {
  .container {
    margin: 0 10rem;
  }

  .container-flights {
    margin: 0 10rem;
  }

  .flight-number {
    font-size: 1rem;
  }

  .all {
    margin-left: 1rem;
  }
}
